<!doctype html>
<html>
<head>
	<title>NestLog</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> NestLog</h1>

		<p>Login</p>

		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Login with Google</a>
		<!-- <a href="/auth/nest" class="btn btn-danger"><span class="fa fa-circle-o"></span> Connect to Nest</a> -->
	</div>

</div>
</body>
</html>